* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}


.container {
        width: 400px;
        align-items: center;
        text-align: center;
        margin: 100px auto;
        border: 1px solid rgba(128, 128, 128, 0.278);
        border-radius: 10px;
        padding: 20px;
}

.container span {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
}


.container h3 {
        padding: 10px 0;
        color: brown;
        font-weight: bold;

}

.container button {
        background-color: black;
        color: white;
        padding: 5px 10px;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all 0.5s ease-in-out;
}

.container button:hover {
        background-color: white;
        color: black;
}

.container button:disabled{
        cursor: not-allowed;
}